/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styling */
body {
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    color: #00FF00;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

/* Container */
.container {
    border: 5px solid #00FF00;
    padding: 50px;
}

/* Header */
header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* Content Section */
.content p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

/* Button */
button {
    background-color: black;
    color: #00FF00;
    border: 2px solid #00FF00;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, input[type="button"]:hover {
    background-color: #00FF00; /* Green hover background */
    color: black; /* Black text */
    transform: scale(1.1); /* Slightly enlarge the button */
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000; /* Black background */
    color: #00FF00; /* Green text */
    text-align: center;
    padding: 15px 20px;
    border-top: 2px solid #00FF00; /* Green border */
    z-index: 100;
}

.cookie-banner button {
    background-color: black;
    color: #00FF00;
    border: 2px solid #00FF00;
    padding: 10px 20px;
    margin: 5px; /* Add space between buttons */
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.2s;
}

.cookie-banner button:hover {
    background-color: #00FF00;
    color: black;
}

/* Hidden Content */
.hidden {
    display: none;
}

/* Footer */
footer {
    font-size: 1em;
    margin-top: 30px;
}
